*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    background:  url(./image/contacr.jpg);
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;

}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;


}
.contact .content p{
    
    font-weight: 300;
    color: #fff;

}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
width: 50%;
display: flex;
flex-direction: column;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    
}
.container .contactinfo .box .icon{
min-width: 60px;
height: 60px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
font-size: 22px;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: #1d2425;
}
.contactform{
    width:40% ;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-size: 25px;
    color: #1d2425;
    font-weight: 500;
    
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #1d2425;
    outline:none ;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: gray;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
   color: #1d2425;
   font-size: 12px;
   transform: translateY(-20px) ; 
}
.contactform .inputbox input[type="submit"]
{
  width: 100px;
  background: #0b2327;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 10px;
  border-radius: 4px;

}
@media(max-width: 991px){
    .contact{
        padding: 50px;

    }
    .container {
        flex-direction: column;
    }
    .container .contactinfo
    {
        margin-bottom: 40px;
    }
    
    .container .contactinfo,.contactform
    {
        width: 100%;
    }
}
/* nav bar*/
.div1{
    /*100vh = 100% of the screen in the vertical direction
    100vw=100% if the screen in the horizontal direction*/
    height:  50px;
    width: 100vw;
    background-color: gray;
    opacity: 0.9;
    content: "";
    position: sticky;
    top: 0;
    border-radius: 4px;
    z-index: 1;
 
}


/* align ites=ms : for alignment, the pading is the distance between items or between items and the screen border
the the hover is for hilighting the content */

nav{display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 5rem;
    
}
nav ul li {
    list-style-type: none ;
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
    font-size: 12pt;
    margin-top: 10px;
    
}
ul{
    list-style: none;
}
li {
    font-weight: bold;
    font-size: 20px;
}
.nb{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
a{
    color: #133034;
    text-decoration: none;
    font-weight: bold;
    
}
a:hover{
        transition: 0.4s;
      border-bottom: solid gray;
        width: 50px;
}
.nb:hover{
        transition: 0.4s;
      border-bottom: solid #133034;
        width: 50px;
    
        
    }
   /*footer*/

   footer{
    background-color: #0b2327;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #ffff;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;


}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: space-between;
}
.social li{
    margin:0 10px
}
.social a{
    text-decoration: none;
    color: #ffff;
    
}
.social a i{
    font-size: 14pt;
}
.footer-botom{
    background-color: #1d2425;
    width: 100vw;
    padding:20px;
    text-align: center;
}
.footer-botom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    
}


